{% extends 'base.html.twig' %}

{% block body %}
  <div {{ react_component('components/pages/ProfilePage', {
    user: {
      email: app.user.email,
      pseudo: app.user.pseudo
    }
  }) }}></div>
{% endblock %}
